@import-normalize; /* bring in normalize.css styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

html {
  min-height: 100vh;
  background: #0d0c0c;
  color: #fadccd;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  width: 40px;
  height: 40px;
  font-size: 24px;
  background: #fadccd;
  color: #964628;
  border: 1px solid #964628;
  border-radius: 5px;
  box-shadow:  0 0 4px 0 #0d0c0c;
  transition: 250ms ease-in-out;
  cursor: pointer;
}

button:hover, button:active, button:focus {
  background-color: #dc5a28;
  color: #fadccd;
  border: 1px solid #964628;
  box-shadow: 0 0 2px 1px #fadccd;
}

.btn {
  height: 24px;
  width: 30%;
  max-width: 80px;
  font-weight: 600;
  font-size: 12px;
  padding: 4px 20px;
}