@import-normalize; /* bring in normalize.css styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

html {
  min-height: 100vh;
  background: #000;
  color: #bfb7f9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  width: 40px;
  height: 40px;
  font-size: 24px;
  background: transparent;
  color: #bfb7f9;
  border: 1px solid #bfb7f9;
  border-radius: 5px;
  transition: 250ms ease-in-out;
  cursor: pointer;
}

button:hover, button:active, button:focus {
  background-color: #bfb7f9;
  color: #000;
  border: 1px solid #8681af;
}

.btn {
  height: 24px;
  font-weight: 600;
  font-size: 12px;
  padding: 4px 24px;
  width: fit-content;
}

.navbox {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 640px) {
  nav.navbox {
    display: none;
  }
};