@import-normalize; /* bring in normalize.css styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
      min-height: 100vh;
      background: rgb(75, 75, 75);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  position: relative;
  background-color: #fff;
  border: 1px solid #c3c0c0;
  border-radius: 5px;
  min-width: fit-content;
  width: 40px;
  height: 40px;
  font-size: 24px;
}

button:hover, button:active, button:focus {
  background-color: #dadada;
  outline: 2px solid #5788eb;
}

svg {
 position: absolute;
 top: 0;
 left: 0;
}

.btn {
  height: 24px;
  width: 30%;
  max-width: 80px;
  font-weight: 600;
  font-size: 12px;
  padding: 4px 20px;
}